 table, th, td{
            border: 2px solid black;
            text-align: center;
            border-collapse: collapse;
            border-color: red;
        }
        th{
            text-decoration: underline;
            text-decoration-color: blue;
        }
        caption{
            font-family: Arial, Helvetica, sans-serif;
        }
        td{
            font-family: 'Courier New', Courier, monospace;
            background-color: greenyellow;
        }